*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Avenir Next", serif;
  font-size: 12px;
  padding: 57px; /* 2cm */
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: bold;
}

p {
  margin: 15px 0;
}

p:last-of-type {
  margin-bottom: 0;
}

a[href] {
  color: #3498db;
  text-decoration: none;
}

a[href]:after {
  content: ""
}

strong {
  font-weight: bold;
}

hr {
  background: #000;
  height: 0.07em;
  border: none;
}

blockquote {
  border: none;
  font-style: italic;
  padding: 0 0 0 10px;
  border-left: 3px solid #272822;
  margin: 15px 0;
}

code {
  background-color: #eeeeee;
  border-radius: 3px;
  padding: 1px 5px;
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
  font-size: smaller;
}

pre {
  border: none;
  background-color: #eeeeee;
  padding: 3px;
}

pre code {
  background: none;
  color: #272822;
  padding: 0;
}

figure {
  border: 1px dotted black;
  padding: 5px;
  text-align: center;
}

img {
  margin: 30px auto;
  text-align: center;
  border: 1px solid #eeeeee;
  padding: 3px;
  display: inline-block;
}
